{% extends "base/layout.html" %}

{% block content %}

<div class="container">
    <form method="post">{% csrf_token %}
        <h2>{{address.id }} - {{ address.name }}</h2></a>
        <p>{{address.street_line1 }}, {{ address.street_line2 }}, {{ address.address.city }}, </p>
        <p>{{address.address.state }}, {{ address.zipcode}} {{ address.country }}</p>
        <p>Created By: {{ address.created_by.get_full_name }}, on {{address.created }}</p>
        <p>Created By: {{ address.created_by.get_full_name }}, on {{address.created }}</p>
    </form>
</div>
{% endblock %}
