{% extends "web/layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Facility Home</h1>

            <ul class="nav-stacked" id="accordion1">
                {% for ct in allClientTypes %}
                <li class="panel"> <h2><a data-toggle="collapse" data-parent="#accordion1" href="#firstLink">{{ ct.name }} ({{ ct.id }})</a>
                <br/>Clients:</h2>
                    <ul id="firstLink">
                        {% for c in allClients %}
                        <li class="panel"><h3><a href="{% url 'base:client-detail' pk=c.pk %}">{{ c.name }}-{{ c.id }} (Manager: {{ c.primary_user }})</a>
                            <br/>related facility Lic #: {{c.clientFacility.license_number}}</h3>
                            <ul id="secondLink" ><h3>Client's Addresses: ({{ c.clientAddresses.all.count }})</h3>
                                {% for add in c.clientAddresses.all %}
                                    <li class="panel"><a href="{% url 'base:address-detail' pk=add.pk %}">
                                        <h4>{{ add.name }} ({{ add.id }})</h4></a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <ul id="secondLink" ><h3>Facility's Spaces: {{c.clientFacility.facilitySpaces.count }}</h3>
                                {% for cfs in c.clientFacility.facilitySpaces.all %}
                                    <li class="panel"><a href="">
                                        <h4>{{ cfs.name }} ({{ cfs.id }})</h4></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}

                
            </ul>



            
        </div>
        <div class="col-md-4">
            <h2>All Users</h2>
            {% for u in allUsers %}
                <a href="{% url 'accounts:Accounts_ViewProfile' pk=u.pk %}">
                <h3>{{ u.username}} ({{ u.id}})</h3>
                </a>
            {% endfor %}
            <h2>All ClientTypes</h2>
            {% for ct in allClientTypes %}
                <a href="{% url 'base:clienttype-detail' pk=ct.pk %}">
                <h3>{{ ct.name }} ({{ ct.id }})</h3>
                </a>
            {% endfor %}
            <h2>All Clients</h2>
            {% for c in allClients %}
                <a href="{% url 'base:client-detail' pk=c.pk %}">
                <h3>{{ c.name }} ({{ c.id }})</h3>
                </a>
            {% endfor %}
            <h2>All Addresses</h2>
            {% for a in allAddresses %}
                <a href="{% url 'base:address-detail' pk=a.pk %}">
                <h3>{{ a.name }} ({{ a.id }})</h3>
                </a>
            {% endfor %}
            <h2>All Facilities</h2>
            {% for f in allFacilities %}
                <a href="">
                <h3>{{ f.name }}</h3>
                </a>
            {% endfor %}
            <h2>All Facility Spaces</h2>
            {% for fc in allFacilitySpaces %}
                <a href="">
                <h3>{{ fc.name }} </h3>
                </a>
            {% endfor %}
            <h2>All Teachers</h2>
            {% for t in allTeachers %}
                <a href="">
                <h3>{{ t.name }}</h3>
                </a>
            {% endfor %}
            <h2>All Household</h2>
            {% for hh in allHousehold %}
                <a href="">
                <h3>{{ hh.name }}</h3>
                </a>
            {% endfor %}
            <h2>All Household Membership</h2>
            {% for hhm in allHouseholdMemberships %}
                <a href="">
                <h3>{{ hhm.name }}</h3>
                </a>
            {% endfor %}           
        </div>
     </div>
    <p>Use this area to provide additional information.</p>
</div>
{% endblock %}
